<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="../static/style.css">

</head>


<body>

    <a href="/start/">
        <button class="cybr-btn" onclick="alert('Loading...')">
            Start Crawler<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Start Crawler</span>
        </button>
    </a>


        <div class="box">
    <div class = "divCategorie" id = "cereale"> <h1>Cereale</h1> 
    </div>

    <div class = "divCategorie" id = "plante"> <h1>Plante</h1> 
    </div>

    <div class = "divCategorie" id = "pomi"> <h1>Pomi</h1> 
    </div>


    <div class = "divCategorie" id = "seminte"> <h1>Seminte</h1>
    </div>


    <div class = "divCategorie" id = "utilaje"> <h1>Utilaje agricole si industriale </h1>
    </div>

    <div class = "divCategorie" id = "produse_animale"> <h1>Produse Animale </h1>
    </div>

    <div class = "divCategorie" id = "fructe"> <h1>Fructe </h1>
    </div>


    <div class = "divCategorie" id = "legume"> <h1>Legume </h1>
    </div>


    <div class = "divCategorie" id = "alte_produse_alimentare"> <h1>Alte produse alimentare </h1>
    </div>


    <div class = "divCategorie" id = "animale"> <h1>Animale domestice si pasari </h1>
    </div>


    <div class = "divCategorie" id = "echipamente"> <h1>Echipamente zootehnice: </h1>
    </div>
</div>
<script src="code.js">
</script>
</body>

</html>